@import url(normolize.css);
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.header_wrapper {
  width: 1170px;
  margin: 0 auto;
  position: relative; }

.header_nav {
  width: 391px;
  margin-top: 103px; }

ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0; }

.nav_item {
  border-right: 1px solid #b7b7b7;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 1px; }
  .nav_item:nth-child(2) {
    position: relative;
    padding-right: 40px; }
  .nav_item:nth-child(1) {
    padding-left: 0; }

.nav_item:nth-last-child(1) {
  border: none; }

.nav_item:nth-child(2)::after {
  content: url(../img/arrow.png);
  position: absolute;
  right: 25px;
  bottom: 2px; }

.nav_links {
  text-decoration: none;
  color: #0f0f0f;
  height: 13px;
  font-weight: 300; }

.navigation {
  display: flex;
  justify-content: space-around; }

.logo {
  margin-top: 54px; }

.contacts {
  margin-top: 103px;
  position: relative; }

.email {
  border-right: 1px solid #b7b7b7;
  padding-right: 20px; }
  .email::before {
    content: url(../img/mail.png);
    position: absolute;
    right: 370px;
    top: 2px; }

.phone {
  padding-left: 44px; }
  .phone::before {
    content: url(../img/phone.png);
    position: absolute;
    right: 170px;
    top: 1px; }

.header_promo {
  height: 500px;
  background: url(../img/bg_img.png) center center no-repeat; }
  .header_promo h1 {
    padding-top: 172px;
    text-align: center;
    color: #0f0f0f;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300; }

.promo_button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  width: 225px;
  height: 50px;
  border: 2px solid #6dcff6;
  color: #0f0f0f;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  cursor: pointer; }
  .promo_button:hover {
    background-color: rgba(109, 207, 246, 0.4);
    transition: all .1s ease-in; }

.about {
  background: url(../img/bg_main.png) center center no-repeat;
  height: 870px;
  margin-top: -170px; }

.slide_button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 136px; }

.wrapper_about {
  display: flex;
  justify-content: space-around; }

.text_about {
  width: 50%; }
