body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

* {
  font-family: Roboto, sans-serif; }

.nav_list {
  list-style: none;
  display: flex;
  padding-left: 0;
  padding-top: 90px; }
  .nav_list .nav_item {
    margin: 0px 10px 0px 10px;
    font-family: Roboto , sans-serif; }

.logo {
  padding-top: 50px; }

.contacts_list {
  list-style: none;
  display: flex;
  padding-top: 90px;
  margin-left: 50px; }
  .contacts_list .contacts_item:nth-child(1) {
    margin-right: 30px; }

.promo_text {
  text-align: center;
  padding-top: 85px; }

.header_button {
  margin-left: 470px;
  margin-top: 71px; }

.header {
  min-height: 700px;
  background: url(../img/bg_img.png) no-repeat;
  background-position: 50% 100%; }

.about {
  margin-top: -170px;
  min-height: 700px;
  background: url(../img/bg_main.png) no-repeat;
  background-position: center center;
  background-size: cover; }

.button_scroll {
  margin-left: 480px; }

.slider_about, .text_about {
  padding-top: 100px; }

.text_about {
  color: #ffffff;
  text-align: justify; }

.slider_about::after {
  content: url(../img/polygon.png);
  position: absolute;
  top: 110px;
  left: 70px; }

.flex_stats_item {
  width: 100%;
  max-width: 150px;
  text-align: center;
  max-height: 200px; }
