@import "normolize.css"; // ===== NORMOLIZE ===== //
// ======== MIXINS ======== //
@mixin roboto-font {
    font-family: 'Roboto', sans-serif;
}
// ======== /MIXINS ======== //
* {
    box-sizing: border-box;
}
body {
    @include roboto-font;
}
// ======== HEADER ========= //
.header_wrapper {
    width: 1170px ;
    margin: 0 auto;
    position: relative;
}
.header_nav {
    width: 391px;
    margin-top: 103px;
    
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    
    
}
.nav_item {
    border-right: 1px solid #b7b7b7;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 1px; 
    &:nth-child(2) {
        position: relative;
        padding-right: 40px;
    }
}
.nav_item:nth-last-child(1) {
    border: none;
}
.nav_item:nth-child(2)::after {
    content: url(../img/arrow.png);
    position: absolute;
    right: 25px;
    bottom: 2px;
}
.nav_links {
    text-decoration: none;
    color: #0f0f0f;
    height: 13px;
    font-weight: 300;
}

